.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    /* Ajusta el espacio entre los elementos */
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -6rem;
    z-index: 1000;
    min-width: 200px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cuando el menú tiene la clase 'show', se hace visible */
.show {
    display: block;
}

/* Estilos para los elementos dentro del dropdown */
.dropdown-item a {
    padding: 10px 15px;
    /* Espaciado interno */
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.dropdown-item img {
    display: block;
    width: 24px;
    height: 24px;
}

.dropdown-item span {
    display: block;
    white-space: nowrap;
}



/* Cambiar color al pasar el cursor por encima */
body.light .dropdown-item:hover {
    background-color: var(--light-bg);
}

body.dark .dropdown-item:hover {
    background-color: var(--dark-bg);
}

/* Estilo para los iconos dentro de los elementos */
.dropdown-item svg {
    margin-right: 10px;
}

/* Estilos para el icono de usuario y los detalles del perfil */
.user-profile-section {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

/* Media query para hacer que el menú sea más accesible en pantallas pequeñas */
@media (max-width: 768px) {
    .dropdown-menu {
        left: 0;
        /* Elimina el desplazamiento hacia la izquierda */
        min-width: 150px;
        /* Ajusta el tamaño mínimo si es necesario */
    }
}

.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    /* Inicialmente no sticky */
    top: 0;
    z-index: 1000;
    transition: top 0.3s;
    width: 100%;
    /* Suaviza la transición al aparecer/desaparecer */
}

.navbar.sticky {
    position: fixed;
    /* Hace el navbar sticky */
    top: 0;
}

.navbar-logo img {
    height: 4rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.navbar-link.active {
    color: var(--menu-active);

}

/* Estilo del submenú */
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--dark-primary-bg);
    padding: 20px;
    opacity: 0;
    min-width: 140px;
}


.navbar-item:hover>.sub-menu {
    visibility: visible;
    opacity: 1;
    display: block;
}

.sub-menu li {
    display: block;
    margin-bottom: 5px;
    margin: 5px 15px;
}

.navbar-item {
    position: relative;
    padding: 5px 15px;
}

.sub-menu {
    width: auto;
}

/* Estilos del botón de cambio de tema */
.theme-toggle button {
    background-color: var(--dark-primary-bg);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.theme-icons img {
    width: 30px;
    height: 30px;
}

body.dark .navbar-link.active {
    color: #FFD700;
}

body.light .navbar-link:hover,
.navbar-link.active {
    color: black;
}

body.light .bg {
    background-color: var(--light-primary-bg);
}

body.dark .bg {
    background-color: var(--dark-primary-bg);
}


/* Responsividad: menú desplegable */
@media (max-width: 768px) {
    .navbar {
        background-color: var(--dark-primary-bg);
        color: white;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        /* Inicialmente no sticky */
        top: 0;
        z-index: 1000;
        transition: top 0.3s;
        width: 100%;
        /* Suaviza la transición al aparecer/desaparecer */
    }

    .navbar.sticky {
        position: fixed;
        /* Hace el navbar sticky */
        top: 0;
    }

    .navbar-menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar-item {
        text-align: left;
        width: 100%;
        /* Asegura que cada ítem ocupe el 100% de ancho en pantallas pequeñas */
        display: block;
        /* Se asegura de que el item sea un bloque */
        padding: 10px 15px;
        /* Ajuste de padding para mejor apariencia */
    }

    .navbar-item .sub-menu {
        position: static;
        display: none;
        /* Aseguramos que el submenú esté oculto por defecto */
        width: 100%;
        padding: 0;

    }

    .sub-menu {
        position: static;
        display: none;
        width: 100%;
        /* Asegura que el submenú también ocupe todo el ancho */
        padding: 0;
        /* Elimina padding extra en submenú */
    }

    .navbar-item:hover>.sub-menu {
        display: block;
    }

    .navbar-item.active>.sub-menu {
        display: block;
    }

    .sub-menu li {
        padding: 10px 15px;
    }

    /* Asegurando que la imagen y el botón se ubiquen correctamente */
    .navbar-logo {
        order: -1;
        margin-bottom: 10px;
    }

    .theme-toggle {
        margin-top: 10px;
        order: 1;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .theme-icons img {
        width: 2rem;
        height: 2rem;
    }
}