services:
  app:
    platform: linux/amd64
    build:
      context: .
    image: intranetln1_blade_app
    container_name: intranetln1_blade
    ports:
      - "9000:9000"
    networks:
      - appnet
    restart: always
    env_file:
      - .env
    volumes:
      - ".:/var/www"

  nginx:
    image: nginx:latest
    container_name: nginx-laravel
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ".:/var/www:ro"
      - "./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro"
      - "/etc/letsencrypt:/etc/letsencrypt:ro"
    networks:
      - appnet
    restart: always

networks:
  appnet:
