/* Definición de colores estándar */

:root {

    /* LIGHT COLORS */
    --light-primary-bg: #00b1f4;
    --light-secondary-bg: #ffa700;
    --light-bg: #E5F4FF;
    --light-text: #1A202C;
    --light-accent: #3B82F6;

    /* DARK COLORS */
    --dark-primary-bg: #15171c;
    --dark-secondary-bg: #26272f;
    --dark-text: #FFFFFF;
    --dark-accent: #00b1f4;

    /* STANDARD COLORS */
    --menu-active: #ff5100;
    --text-secondary: #6b6969;
    --error: #dc3545;

}