/* Incluir las variables de color */
@import url('colors.css');
@import url('typography.css');

/*########################### Light Mode ###########################*/
body.light {
    background-color: var(--light-bg);
    color: var(--light-text);
}

body.light .primarybg {
    background-color: var(--light-primary-bg);
}


body.light .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, var(--light-primary-bg), transparent);
    z-index: 10;
}

/*########################### Dark Mode ###########################*/
body.dark {
    background-color: var(--dark-secondary-bg);
    color: var(--dark-text);
}

body.dark .primarybg {
    background-color: var(--dark-primary-bg);
}

body.dark .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    background: linear-gradient(to bottom, var(--dark-primary-bg), transparent);
    z-index: 10;
}